$baground-color-z-index-1: #f9f9fb;
$baground-color-z-index-2: #ffffff;
$baground-color-z-index-3: #dfdfdf;
$border-box-color: #cdcdcd;
$text-color-bagraund-z-index-1: #000000;
$bagraund-color-top-level-entry-hover: #f9f9fb;
$input-buscar-color: black;