$baground-color-z-index-1:#363636;
$baground-color-z-index-2: #1b1b1b;
$border-box-color: #858585;
$text-color-bagraund-z-index-1: #CDCDCD;
$bagraund-color-top-level-entry-hover: #363636;
$input-buscar-color: white;