@use 'colors-theme-dark.scss';
@use 'colors-theme-light.scss';

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body{
	background-color: colors-theme-dark.$baground-color-z-index-2;
	* {
		color: colors-theme-dark.$text-color-bagraund-z-index-1;
	}
}
body.light {
	background-color: colors-theme-light.$baground-color-z-index-2;
	*{
		color: colors-theme-light.$text-color-bagraund-z-index-1;
	}
}