@use 'colors-theme-dark.scss';
@use 'colors-theme-light.scss';

/*home-page-information//////////////////////////////////////////////*/
.home-page-information {
  min-height: 600px;

  &__title {
    margin: 0 auto;
    padding: 1rem;
    max-width: 850px;
  }

  &__item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    gap: 0.5rem;
    max-width: 850px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .home-page-information {
    &__item-container {
      grid-template-columns: 1fr;
    }
  }
}

.article-item {
  position: relative;
  grid-template-columns: 0.8fr 1fr;
  display: grid;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: colors-theme-dark.$baground-color-z-index-1;

  body.light & {
    background-color: colors-theme-light.$baground-color-z-index-1;
  }

  &__informataion-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image-container {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }

  &__image {
    width: 100%;
    padding: 10px;
    background-color: colors-theme-dark.$baground-color-z-index-2;

    body.light & {
      background-color: colors-theme-light.$baground-color-z-index-3;
    }

    border-radius: 10px;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__description-container {
    height: 100%;
  }

  &__link-container {
    text-align: end;
  }
}

/*Structure HTML
<!--block-->
  <section class="article-item">
    <div class="article-item__image-container">
      <img class="article-item__image" src=""
        alt="Cubo de rubik 2x2">
    </div>
    <div class="article-item__informataion-container">
      <header class="article-item__title-container">
          <h2 class="article-item__title"></h2>
      </header>
      <article class="article-item__description-container">
          <p class="article-item__description">
          
          </p>
      </article>
      <footer class="article-item__link-container">
          <!--block-->
          <a class="button-link" href="#">Ir</a>
      </footer>
    </div>
  </section>
*/

.button-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  background-color: colors-theme-dark.$baground-color-z-index-3;

  body.light & {
    background-color: colors-theme-light.$baground-color-z-index-3;
  }
}

/*Structure HTML
<!--block-->
<a class="button-link" href="#">Ir</a>
*/