*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

.justify-elements-in-screen{
	width: 100%;
	&__container {
		max-width: 1440px;
		margin: 0 auto;
		height: 100%;
	}
}

/*
	Emmet abbreviation
	div.justify-elements-in-screen>div.justify-elements-in-screen__container

	HTML code
	<div class="justify-elements-in-screen">
        <div class="justify-elements-in-screen__container">
            
        </div>
    </div>
*/