@use 'colors-theme-dark.scss';
@use 'colors-theme-light.scss';

/*///////////////////////////////////////////////////////////////////*/
.top-navegation-bar {
	position: sticky;
	top: 0;
	z-index: 3;
	background-color: colors-theme-dark.$baground-color-z-index-2;
	border-bottom: 1px solid colors-theme-dark.$border-box-color;
	body.light & {
		background-color: colors-theme-light.$baground-color-z-index-2;
		border-bottom: 1px solid colors-theme-light.$border-box-color;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	&__item-container {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}
@media screen and (max-width: 850px){
    .top-navegation-bar {
		
	}
}
/*structure HTML

	<header class="top-navegation-bar justify-elements-in-screen">
		<div class="top-navegation-bar__nav justify-elements-in-screen__container">
			<div class="top-navegation-bar__item-container">
			</div>
		</div>
	</header>

	Emmed abbreviation
	header.top-navegation-bar>div.top-navegation-bar__nav>div.top-navegation-bar__item-container
	*/

/*///////////////////////////////////////////////////////////////////*/
.main-menu {
	display: flex;
	gap: 0.5rem;
	
	&__logo {
		& > img {
			width: 150px;
		}
	}
	&__list {
		display: flex;
		text-decoration: none;
		list-style-type: none;
		.sub-menu {
			.sub-menu {
				&:hover {
					background-color: colors-theme-dark.$baground-color-z-index-1;
					body.light & {
						background-color: colors-theme-light.$baground-color-z-index-1;
					}
				}
			}
		}
	}
	&__item {
		display: block;
		text-decoration: none;
		padding: 15px;
		border-radius: 5PX;
		
		&:hover {
			background-color: colors-theme-dark.$bagraund-color-top-level-entry-hover;
			body.light & {
				background-color: colors-theme-light.$bagraund-color-top-level-entry-hover;
			}
		}
	}
	&__sub-menu-container {
		display: none;
		position: absolute;
	}
	&__content-item:hover &__sub-menu-container{
		display: flex;
	}

	/*structure HTML
	<nav class="main-menu">
		<a class="main-menu__logo" href=""><img src="" alt=""></a>
		<ul class="main-menu__list">
			<li class="main-menu__content-item">
				<a class="main-menu__item" href=""></a>
				<div class="main-menu__sub-menu-container">
				</div>
			</li>
		</ul>
	</nav>

	Emmet abbreviation
	nav.main-menu>a.main-menu__logo+ul.main-menu__list>li.main-menu__content-item>a.main-menu__item+div.main-menu__sub-menu-container
	*/
}

/*///////////////////////////////////////////////////////////////////*/
.sub-menu {
	display: inline-block;
	border-radius: 5px;
	padding: 0.5rem;
	list-style-type: none;
	background-color: colors-theme-dark.$baground-color-z-index-2;
	border: 1px solid colors-theme-dark.$border-box-color;
	box-shadow: 0px 0px 1px colors-theme-dark.$border-box-color;
	body.light & {
		background-color: colors-theme-light.$baground-color-z-index-2;
		border: 1px solid colors-theme-light.$border-box-color;
		box-shadow: 0px 0px 1px colors-theme-light.$border-box-color;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 12px;
		text-decoration: none;
		border-radius: 5px;
		width: 100%;
		height: 100%;
		&:hover{
			background-color: colors-theme-dark.$baground-color-z-index-1;
			body.light &{
				background-color: colors-theme-light.$baground-color-z-index-1;
			}
		}
	}

	&__icon {
		height: 2rem;
		margin-right: 0.75rem;
		width: 0.2rem;
		margin: 0px 12px 0px 0px;

		&--red{
			background-color: #ff012d;
		}
		&--green{
			background-color: #00c400;
		}
		&--orange{
			background-color: #ff5500;
		}
		&--blue{
			background-color: #0094c6;
		}
	}

	&__contain {
		background-color: transparent;
		& *{
			background-color: transparent;
		}
	}

	&__heading {
		margin: 0px 0px 5px 0px;
	}

	&__description {
		font-size: small;
	}

	/*Structure HTML
	<ul class="sub-menu">
		<li class="sub-menu__content-item">
			<a class="sub-menu__link" href="">
				<div class="sub-menu__icon sub-menu__icon--red"></div>
				<div class="sub-menu__contain">
					<div class="sub-menu__heading"></div>
					<p class="sub-menu__description"></p>
				</div>
			</a>
		</li>
	</ul>

	Emmet abbreviation
	ul.sub-menu>li.sub-menu__content-item*<!--NOMBERITEMS-->>a.sub-menu__link>div.sub-menu__icon.sub-menu__icon--red+div.sub-menu__contain>div.sub-menu__heading+p.sub-menu__description
	*/
}

/*///////////////////////////////////////////////////////////////////*/
.switcher-theme {
	display: inline-block;
	border-radius: 0.25rem;
	padding: 0.3rem 0.5rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
	&:hover {
		background-color: colors-theme-dark.$baground-color-z-index-1;
		body.light & {
			background-color: colors-theme-light.$baground-color-z-index-1;
		}
	}
	* {
		background-color: transparent;
		border: none;
	}

	&__button-wrap {
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}

	.fa-solid {
		width: 1rem;
	}
	.fa-sun {
		display: none;
	}
	body.light &{
		.fa-sun {
			display: block;
		}
		.fa-moon {
			display: none;
		}
	}

	/*Structure HTML
	<button class="switcher-theme" id="switcher-theme">
		<span class="switcher-theme__button-wrap">
			<i class="fa-solid fa-moon"></i>
			<i class="fa-solid fa-sun"></i>
			Tema
		</span>
	</button>

	Emmet abbreviation
	button.switcher-theme>span.switcher-theme__button-wrap>i.fa-solid.fa-moon+i.fa-solid.fa-sun

	.js funcion
	const btnSwitch = document.querySelector('#switcher-theme');
	btnSwitch.addEventListener('click', () => {
		document.body.classList.toggle('light');
	});
	*/
}

/*///////////////////////////////////////////////////////////////////*/
.finder{
	position: relative;
	border-radius: 1rem;
	background-color: colors-theme-dark.$baground-color-z-index-1;
	body.light & {
		background-color: colors-theme-light.$baground-color-z-index-1;
	}

	*{
		background-color: transparent;
	}

	&__input {
		padding: 0.5rem;
		border: none;
		border-radius: 1rem;
		width: 6rem;
		transition: 0.3s;
		color: colors-theme-dark.$input-buscar-color;
		body.light & {
			color: colors-theme-light.$input-buscar-color;
		}
		&:focus-visible{
			width: 12rem;
		}
	}

	&__send {
		position: absolute;
		border: none;
		bottom: 0.5rem;
    	right: 0.5rem;
		cursor: pointer;

		&:hover {
			color: #0094c6 ;
		}
	}

	/*Structure HTML
	<form class="finder" action="">
		<input class="finder__input" type="text" placeholder="Buscar...">
		<button class="finder__send"><i class="fa-solid fa-magnifying-glass"></i></button>
	</form>

	Emmet abbreviation
	form.finder>input.finder__input+button.finder__send>i.fa-solid.fa-magnifying-glass
	*/
}