doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/index.css")

    //- Con esto obligamos a los dispositivos móviles a decirnos cuál es el ancho de la pantalla real al momento de realizar la carga de la página
    meta(name="viewport", content="width=device-width")

    //- Ícono de la pestaña
    link(rel="shortcut icon", href="images/Icons/shorcut-icon.png", type="image/x-icon")
    title SolvedRubik

    //- Fontawsome se utiliza para los íconos de la página web
    script(src="https://kit.fontawesome.com/b4e1aa3a60.js", crossorigin="anonymous")
  body

    //-Inclusión del top navegation bar en la página
    include global-block-elements/top-navegation-bar.pug

    main
      article
        //- block
        section.home-page-finder.justify-elements-in-screen
          .home-page-finder__container.justify-elements-in-screen__container
            form.home-page-finder__form(action='')
              img.home-page-finder__title.home-page-finder__title--dark(src='images/logo-solvedrubik-hom-page-presentation-dark-640.png' alt='')
              img.home-page-finder__title.home-page-finder__title--light(src='images/logo-solvedrubik-hom-page-presentation-light-640.png' alt='')
              //- block
              .main-finder(action='')
                input.main-finder__input(type='text' placeholder='Buscar...')
                button.main-finder__send
                  i.fa-solid.fa-magnifying-glass
        //- block
        section.home-page-information.justify-elements-in-screen
          .home-page-information__container.justify-elements-in-screen__container
            header.home-page-information__title-container
              h1.home-page-information__title ART&Iacute;CULOS
            article.home-page-information__item-container
              //- block
              section.article-item
                .article-item__image-container
                  img.article-item__image(src='images/home-page-article/cubo-dos-por-dos.png' alt='Cubo de rubik 2x2')
                .article-item__informataion-container
                  header.article-item__title-container
                    h2.article-item__title CUBO 2X2
                  article.article-item__description-container
                    p.article-item__description
                      | Algoritmos para resolver el cubo de rubik dos por dos
                  footer.article-item__link-container
                    //- block
                    a.button-link(href='#') Ir
              //- block
              section.article-item
                .article-item__image-container
                  img.article-item__image(src='images/home-page-article/cubo-tres-por-tres.png' alt='Cubo de rubik 2x2')
                .article-item__informataion-container
                  header.article-item__title-container
                    h2.article-item__title CUBO 3X3
                  article.article-item__description-container
                    p.article-item__description
                      | Algoritmos para resolver el cubo de rubik tres por tres
                  footer.article-item__link-container
                    //- block
                    a.button-link(href='#') Ir
              //- block
              section.article-item
                .article-item__image-container
                  img.article-item__image(src='images/home-page-article/cubo-cuatro-por-cuatro.png' alt='Cubo de rubik 2x2')
                .article-item__informataion-container
                  header.article-item__title-container
                    h2.article-item__title CUBO 4X4
                  article.article-item__description-container
                    p.article-item__description
                      | Algoritmos para resolver el cubo de rubik cuatro por cuatro
                  footer.article-item__link-container
                    //-block
                    a.button-link(href='#') Ir
              //- block
              section.article-item
                .article-item__image-container
                  img.article-item__image(src='images/home-page-article/cubo-cinco-por-cinco.png' alt='Cubo de rubik 2x2')
                .article-item__informataion-container
                  header.article-item__title-container
                    h2.article-item__title CUBO 5X5
                  article.article-item__description-container
                    p.article-item__description
                      | Algoritmos para resolver el cubo de rubik cinco por cinco
                  footer.article-item__link-container
                    //- block
                    a.button-link(href='#') Ir

    //- Inclusión del footer en la página
    include global-block-elements/footer.pug