$dark-baground-color-z-index-1:#363636;
$light-baground-color-z-index-1: #f9f9fb;

$dark-baground-color-z-index-2: #1b1b1b;
$light-baground-color-z-index-2: #ffffff;

$dark-baground-color-z-index-3: black;
$light-baground-color-z-index-3: #dfdfdf;

$dark-border-box-color: #858585;
$light-border-box-color: #cdcdcd;

$dark-text-color-bagraund-z-index-1: #CDCDCD;
$light-text-color-bagraund-z-index-1: #000000;

$dark-bagraund-color-top-level-entry-hover: #363636;
$light-bagraund-color-top-level-entry-hover: #f9f9fb;

$dark-input-buscar-color: white;
$light-input-buscar-color: black;