doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/article-3x3.css")

        //- Con esto obligamos a los dispositivos móviles a decirnos cuál es el ancho de la pantalla real al momento de realizar la carga de la página
        meta(name="viewport", content="width=device-width")

        //- Ícono de la pestaña
        link(rel="shortcut icon", href="images/Icons/shorcut-icon.png", type="image/x-icon")
        title SolvedRubik

        //- Fontawsome se utiliza para los íconos de la página web
        script(src="https://kit.fontawesome.com/b4e1aa3a60.js", crossorigin="anonymous")
    body 
        //-Inclusión del top navegation bar en la página
        include ../global-block-elements/top-navegation-bar.pug



        //- Inclusión del footer en la página
        include ../global-block-elements/footer.pug