footer.footer.justify-elements-in-screen
    nav.footer__nav.justify-elements-in-screen__container
        //- block
        ul.social-networks-list
            li.social-networks-list__item-container
            a.social-networks-list__item(href='#')
                i.fa-brands.fa-facebook
                span.social-networks-list__text.social-networks-list__text--facebook Facebook
            li.social-networks-list__item-container
            a.social-networks-list__item(href='#')
                i.fa-brands.fa-twitter
                span.social-networks-list__text.social-networks-list__text--twitter Twitter
            li.social-networks-list__item-container
            a.social-networks-list__item(href='#')
                i.fa-brands.fa-instagram
                span.social-networks-list__text.social-networks-list__text--instagram Instagram
            li.social-networks-list__item-container
            a.social-networks-list__item(href='#')
                i.fa-brands.fa-youtube
                span.social-networks-list__text.social-networks-list__text--youtube Youtube
            li.social-networks-list__item-container
            a.social-networks-list__item(href='#')
                i.fa-brands.fa-whatsapp
                span.social-networks-list__text.social-networks-list__text--whatsapp Whatsapp