/************************************************************************************
ancho de pagina menor que 960px
*************************************************************************************/
@media screen and (max-width: 960px) {
	/* color de borde rojo solo de ejemplo*/
	/* envoltura principal */
	#page_wrap {
		width: 95%;
	}
	/* contenido de la izquierda */
	#main_content_right_side {
	 	width: 68%;
		border:1px solid red;
	}
	/* contenido de la derecha */
	#right_sidebar {
	 	width: 20%;
		border:1px solid red;
	}
	/* incrustar videos */
	.video embed,
	.video object,
	.video iframe {
		width: 100%;
		height: auto;
	}
}
/************************************************************************************
ancho de pagina menor que 650px
*************************************************************************************/
@media screen and (max-width: 650px) {
	/* borde de color verde solo de ejemplo*/
	/* cabecera */
	#header {
		height: auto; /* alto automatica para menu */
	}
	/* menu navegacion */
	#main-nav {
		position: static; /* posicion estatica */
	}
	/* la idea es que se puede aplicar estilo a otros elementos segun tamaño */
	/* contenido de izquierda */
	#main_content_right_side {
		width: auto;
		float: none;
		margin: 20px 0;
		border:1px solid green;
	}
	/* contenido de derecha */
	#right_sidebar {
		width: 100%;
		margin: 0;
		float: none;
		border:1px solid green;
	}
	/* incrustar videos */
	.video embed,
	.video object,
	.video iframe {
		min-height: 250px;
	}
}
/************************************************************************************
ancho pagina menor que 560px
*************************************************************************************/
@media screen and (max-width: 480px) {
	/* disable webkit text size adjust (for iPhone) */
	html {
	 	-webkit-text-size-adjust: none;
	}
	/* menu navegacion */
	#main-nav a { /* en este caso el tamaño del texto */
		font-size: 90%;
	 	padding: 10px 8px;
	}
	/* contenido de izquierda */
	#main_content_right_side {
		border:2px solid yellow;
	}
	/* contenido de derecha */
	#right_sidebar {
		border:2px solid yellow;
	}
	/* se puede aplicar otros estilos para no mostrar ciertos elementos
	en pantallas de tamaño pequeño */
}