html {
    font-size: 20px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: 'Roboto Serif', serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
    background-image: url("../images/background.jpg");
    background-size: 500px;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

p {
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
}

div.body{
    min-width: 300px;
    margin: 0 10%;
    
    background-color: #ffbb9c;
    padding: 20px 20px 20px 20px;
    border: 10px solid black;
}

img {
    display: block;
    margin: 0 auto;
}

div.algoritmo {
    width: 200px;
    min-height: 270px;
    background-color: #ffddcd;
    border: 5px solid black;
    margin: 5px auto;
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
}

div.flex-container{
    text-align: center;
}

